<div class="record-header">
  <div class="header-left">
    <div class="header-title">
      みんなの記録一覧
    </div>
  </div>
  <div class="right-header">
    <div class="record-create">
      <%= link_to "新しい記録を作る", new_learn_path %>
    </div>
  </div>
</div>

<div class="records">
  <% @learns.each do |learn| %>
    <div class="record">
      <div class="record-top">
        <div class="record-title">
          <%= learn.title %>
        </div>
        <div class="record-subject">
          <%= learn.subject.name %>
        </div>
        <div class="record-date">
          <%= learn.created_at %>
        </div>
      </div>
      <div class="record-bottom">
        <div class="record-text">
          <%= learn.description %>
        </div>
      </div>
    </div>
  <% end %>
</div>
