<div class="show-front">
  <div class="show-view">
    <div class="show-title">
      <%= @learn.title %>
    </div>
    <div class="show-user-nickname">
      <%= @learn.user.nickname %>さんの記録
    </div>
    <div class="details-view">
      <div class="show-description">
        <%= @learn.description %>
      </div>
      <div class="show-subject">
        <%= @learn.subject.name %>
      </div>
      <div class="show-image">
        <%= image_tag @learn.image.variant(resize: '500x500'), class: 'learn-image' if @learn.image.attached? %>
      </div>
      <div class="show-time">
        <%= @learn.study_hour %>時間
        <%= @learn.study_minutes %>分
      </div>
      <div class="show-btn">
        <%= link_to "編集", edit_learn_path(@learn.id), method: :get %>
        <%= link_to "削除", learn_path(@learn.id), method: :delete %>
      </div>
    </div>
  </div>

  <div class="comment-view">
    <div class="comment-title">
      コメント一覧
    </div>
    <div class="comments">
      <div class="comment">
        <div class="comment-user-nickname">
          toshi
        </div>
        <div class="comment-content">
          こんにちは
        </div>
      </div>
    </div>
  </div>

  <%= form_with model: [@learn, @comment], class: "comment-form", local: true do |f| %>
    <div class="comment-text-form">
      <%= f.text_field :content, class: 'form-comment', placeholder: 'コメントする' %>
    </div>
    <%= f.submit "送信", class: "form-submit" %>
  <% end %>
</div>
